<h1>Edit Media <%= @medium.title %></h1>
<%= form_for :medium, url: medium_path(@medium), method: :patch do |f| %>

  <% if @medium.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@medium.errors.count, "error") %> prohibited
        this media from being saved:
      </h2>
      <ul>
        <% @medium.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, value: @medium.title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, value: @medium.description %>
  </p>

  <p>
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment%>

    <%= build_image_gallery @medium %>


  </p>

  <p>
    <%= f.submit value: 'Update Media' %>
  </p>
<% end %>
