<% if !flash[:notice].blank? %>
  <div data-alert class="alert-box success radius">
    <%= flash[:notice] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<br />
<%= link_to "New Media", new_medium_path, class: "button round" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Download Link</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @media.each do |medium| %>
    <tr>
      <td><%= medium.title %></td>
      <td><%= medium.description %></td>
      <td><%= link_to "Download Media", medium.attachment_url %></td>
      <td><%= button_to "Delete",  medium, method: :delete, class: "button alert", confirm: "Are you sure that you wish to delete #{medium.title}?" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
