<h1>New Media</h1>
<%= form_for :medium, url: media_path do |f| %>
  <%= render "medium_validation_errors" %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </p>

  <p>
    <%= f.submit value: 'Save Media' %>
  </p>
<% end %>
